@keyframes animate{
	0%{
   		background-color: maroon; 
  }
	20%{ 
    	background-color: violet; 
  }
	40%{
		background-color: teal; 
  }
	60%{
		background-color: orange; 
  }
	80%{
		background-color: tomato;
  }
	100%{
		background-color: maroon;
	}
}

@keyframes rotating{
	0%{
		transform: rotate(0deg) scale(1,1);
	}
	15%{
		transform: rotate(45deg) scale(0.85,0.85); 
	}
	30%{
		transform: rotate(90deg) scale(0.7,0.7);
	}
	45%{
		transform: rotate(135deg) scale(0.55,0.55);
	}
	60%{
		transform: rotate(180deg) scale(0.4,0.4);
	}
	75%{
		transform: rotate(225deg) scale(0.25,0.25);
	}
	90%{
		transform: rotate(270deg) scale(0.1,0.1);
	}
	100%{
		transform: rotate(360deg) scale(1,1)
	}
}

@keyframes sliding{
  0%{
    margin-left: 0%;
  }
  75%{
    margin-left: 75%;
  }
  0%{
    margin-left: 0%;
  }
}

#rotate{
  transform: rotate(45deg);
  background-color: teal;
  animation: sliding 3s infinite;
  transition: 2s;
}

#skew{
  transform: skew(20deg);
   background-color: tomato;
   animation: sliding 5s infinite;
   transition: 2s;
}

#all{
  transform: rotate(30deg) skew(25deg); 
   background-color: maroon;
   animation: sliding 7s infinite;
   transition: 2s;
}

#matrix{
  transform: matrix(1, -0.3, 0, 1, 0, 0);
  background-color: gold;
  animation:sliding 15s infinite;
  transition: 2s;
}

#animate{
	animation:animate 3s infinite, 
  			  rotating 0.5s infinite, 
 			  sliding 100s infinite;
 			  transition: 10s;
}




