#rotate{
  transform: rotate(45deg);
}

#skew{
  transform: skew(20deg);
}

#all{
  transform: rotate(30deg) skew(25deg); 
}

#matrix{
  transform: matrix(1, -0.3, 0, 1, 0, 0);
}

@keyframes animate{
  
}