#rotate, #skew, #all, #animate, #pseudo, #matrix{
  border: 2px solid #000;
  width: 200px;
  height: 200px;
  display: block;
  margin: 10px;
}

#animate{
  font-size: 50px;
  text-align: center;
  line-height: 200px;
}

#pseudo, #jsEvent{
  background-color: salmon;
  color: pink;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
}

h3{
  border-bottom: 1px solid #000;
  text-align: center;
}

#focus:focus{
  background-color: orange;
  width: 200px;
  height: 100px;
  font-size: 50px;
}

#pseudo:hover{
  background-color: orange;
  width: 150%;
  text-align: center;
  font-size: 1900%;
}